body {
  background-color: #efeef1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  flex-grow: 1;
  margin: 0px;
  font-family: Baloo;
}

html {
  min-height: 100%;
  display: flex;
}

img {
  width: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.title {
  color: #433f4a;
  border-bottom: 2px solid #dad8de;
  width: 720px;
}

.search-box {
  background-color: #201C2B;
  border: 1px solid #392E5C;
  width: 200px;
  height: 30px;
  align-self: center;
  align-items: center;
  display: flex;
}

.magnifying-glass {
  width: 30px;
  height: 30px;
  color: #fff;
  align-items: center;
  justify-content: center;
  display: flex;
}

.search-input {
  border: none;
  background-color: transparent;
  outline: none;
  color: #fff;
  font-size: 12px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.header {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 137px;
  box-shadow: 0px 1px 5px #000;
  margin-bottom: 50px;
  font-family: 'Baloo';
}

.header img {
  position: absolute;
}

.logo {
  color: #fff;
  font-family: 'Dimitri Swank';
  font-size: 26px;
  margin: 16px auto;
  text-align: center;
}

.main {
  display: flex;
  min-height: 100%;
}

.button {
  border-radius: 3px;
  margin-top: 30px;
  height: 50px;
  width: 200px;
  text-align: center;
  background-color: #efeef1;
  color: #433f4a;
  border: 5px solid #e6544a;
  box-shadow: 0 10px #ca271c;
  cursor: pointer;
  font-size: 24px;
  font-family: Baloo;
  outline: none;
}

.sidebar {
  width: 240px;
  background-color: #17141f;
  flex-direction: column;
  display: flex;
}

.button:hover {
  background-color: #efeef1;
  color: #e6544a;
  box-shadow: 0 8px #ca271c;
  transform: translateY(2px);
}

.button:active {
  background-color: #e6544a;
  color: #fff;
  box-shadow: 0 0px #ca271c;
  transform: translateY(10px);
}
